.container {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.text_music {
  background-color: var(--gray);
  text-align: center;
  margin: 20px 0px;
  border-radius: 5px;
  padding: 2% 2%;
}

.traducao_music {
  background-color: var(--gray);
  text-align: center;
  margin: 20px 0px;
  border-radius: 5px;
  padding: 2% 1%;
  display: none;
}

.button_traducao {
  width: auto;
  font-size: 20px;
  padding: 2%;
  color: var(--primary);
  margin: auto;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 10px;
}

.button_exit {
  width: auto;
  font-size: 20px;
  padding: 2%;
  color: var(--primary);
  margin: auto;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 10px;
}

.button_traducao:hover {
  color: var(--twitter-light-hover);
}
