.container_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_header {
  font-size: 100px;
}

@media (max-width: 800px) {
  .title_header {
    font-size: 70px;
  }  
}

@media (max-width: 550px) {
  .title_header {
    font-size: 50px;
  }  
}

@media (max-width: 360px) {
  .title_header {
    font-size: 40px;
  }  
}