.container {
  display: flex;
  flex-direction: column;
}

.label_search {
  text-align: center;
  font-size: 20px;
  padding: 2%;
  color: var(--primary);
  margin: 20px 0px;
  border-radius: 5px;
}

.button_search {
  width: auto;
  font-size: 20px;
  padding: 2%;
  color: var(--primary);
  margin: auto;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
}

.button_search:hover {
  color: var(--twitter-light-hover);
}